$body_font:'Raleway',sans-serif;
$padding:6%;
$color_text_titulo:#999;
$color_text_titulo2:#fff;
$text_center:center;
$font_size:20px;
$icon_large:30px;
$btn_color_pink:#e91e63;
$fa_color_resposive:#e91e63;
$fa_color_quality:#00bcd4;
$fa_color_support:#4caf50;
$transparent:transparent;
$font_size_btn_large:60px;
$background-color:#fafafa;

